.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    padding: 15px;
}

.post-container:hover {
    cursor: pointer;
    box-shadow: 2px 3px 3px #606c8026;
}

.post-constainer__preview {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post-container__info {
    margin-left: auto;
    margin-right: auto;
}

.post-container__title {
    color: #232360;
}

.post-container__author {
    color: #989898;
}
